# LeetCode Problem 182: Duplicate Emails

## Problem

Table: Person
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+

id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
```

Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The result format is in the following example.

### Example 1:

Example 1:

Input: 
Person table:
```
+----+---------+
| id | email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
```
Output: 
```
+---------+
| Email   |
+---------+
| a@b.com |
+---------+
```
Explanation: a@b.com is repeated two times.

*Link to problem: [https://leetcode.com/problems/duplicate-emails/](https://leetcode.com/problems/duplicate-emails/)*

## SQL Solution

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')
db_name = os.getenv('DB_NAME')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Person(id int, email varchar(255));
TRUNCATE TABLE Person;
INSERT INTO Person (id, email) VALUES ('1', 'a@b.com');
INSERT INTO Person (id, email) VALUES ('2', 'c@d.com');
INSERT INTO Person (id, email) VALUES ('3', 'a@b.com');
SELECT * FROM Person;

In [ ]:
%%sql
SELECT email
FROM (SELECT email, COUNT(email) AS count FROM Person GROUP BY email) AS t
WHERE t.count > 1;

In [ ]:
%sql DROP TABLE IF EXISTS Person;

## Pandas Solution

In [ ]:
import pandas as pd

data = {
    'id' : [1, 2, 3],
    'email' : ['a@b.com', 'c@d.com', 'a@b.com']
    }

person = pd.DataFrame(data=data).astype({'id':'Int64', 'email':'object'})

In [ ]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    
    p = person.copy()
    
    duplicates = p.email.value_counts().to_frame(name='count').query('count > 1').index.values

    return pd.DataFrame(data={'email': duplicates})

In [ ]:
duplicate_emails(person)