# LeetCode Problem 178: Rank Scores

## Problem

Table: Scores
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| score       | decimal |
+-------------+---------+
```
`id` is the primary key (column with unique values) for this table.
Each row of this table contains the score of a game. Score is a floating point value with two decimal places.

 
Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

- The scores should be ranked from the highest to the lowest.
- If there is a tie between two scores, both should have the same ranking.
- After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by score in descending order.

The result format is in the following example.

### Example 1:

Input: 
Scores table:
```
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
```
Output: 
```
+-------+------+
| score | rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+
```

*Link to problem: [https://leetcode.com/problems/rank-scores/description/](https://leetcode.com/problems/rank-scores/description/)*

In [ ]:
%load_ext sql

In [ ]:
from dotenv import load_dotenv
import os

In [ ]:
load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Scores (id int, score DECIMAL(3,2));
TRUNCATE TABLE Scores;
INSERT INTO Scores (id, score) VALUES (1, 3.5);
INSERT INTO Scores (id, score) VALUES (2, 3.65);
INSERT INTO Scores (id, score) VALUES (3, 4.0);
INSERT INTO Scores (id, score) VALUES (4, 3.85);
INSERT INTO Scores (id, score) VALUES (5, 4.0);
INSERT INTO Scores (id, score) VALUES (6, 3.65);

In [ ]:
%%sql
'SELECT score, DENSE_RANK() OVER (ORDER BY score DESC) as rank
FROM Scores
ORDER BY score DESC;'

1. first the FROM clause defines the source data/table
2. a window function, dense_rank(), creates integer rankings for each cell in a reverse sorted score column and places the rankings in a new column 'rank'
3. the select clause then returns the score column beside the newly created rank column
4. finally, the output is sorted by the score column in descending order to get the desired format

*Note, 'rank' is a reserved word in sql and so must be enclosed in backticks.*

In [ ]:
%sql DROP TABLE IF EXISTS Scores;

## Pandas Solution:

In [ ]:
import pandas as pd

data = {'id': [1,2,3,4,5,6],
        'score': [3.5,3.65,4,3.85,4,3.65]}
scores = pd.DataFrame(data).astype({'id':'Int64', 'score':'Float64'})

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    
    # sorting the scores table by the score column
    scores.sort_values(by='score', ascending=False, inplace=True)

    # extracting unique scores in descending order
    unique_scores = scores['score'].drop_duplicates()
    
    # assigning ranks to the unqiue scores in descending order
    ranked_scores = pd.DataFrame({'score': unique_scores.values,
                                  'rank': [r for r in range(1, len(unique_scores)+1)]})
    
    # joining the ranks and the original scores table on the scores column
    return scores.merge(ranked_scores, how='left', on='score', ).loc[:, ['score', 'rank']]

    
order_scores(scores)

In [ ]:
# More efficient Solution

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores = scores.copy()
    # Compute dense ranking in descending order, then convert to int
    scores["rank"] = scores["score"].rank(method="dense", ascending=False).astype(int)
    return scores.sort_values(by="score", ascending=False)[["score", "rank"]]

order_scores(scores)