# LeetCode Problem 175: Combine Two Tables

## Problem

#### Table: Person
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |
+-------------+---------+
```
`personId` is the primary key (column with unique values) for this table.
This table contains information about the ID of some persons and their first and last names.

 

#### Table: Address
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |
+-------------+---------+
```
`addressId` is the primary key (column with unique values) for this table.
Each row of this table contains information about the city and state of one person with ID = `PersonId`.

 

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a `personId` is not present in the Address table, report null instead.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Person table:
```
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
```
Address table:
```
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
```
Output: 
```
+-----------+----------+---------------+----------+
| firstName | lastName | city          | state    |
+-----------+----------+---------------+----------+
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |
+-----------+----------+---------------+----------+
```
Explanation: 
There is no address in the address table for the personId = 1 so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

*Link to problem: [https://leetcode.com/problems/combine-two-tables/](https://leetcode.com/problems/combine-two-tables/)*

# SQL Solution:

In [ ]:
# installing libraries in current environment
# %pip install ipython-sql pandas pymysql sqlalchemy prettytable

In [ ]:
# loading ipython-sql library for parsing sql in python and interfacing with the sqlalchemy sql engine (what actually executes the commands)
%load_ext sql

# creating and connecting to a temporary memory-local sqlite instance for the durationg of the ipython kernel
# %sql sqlite://

# Connecting to an existing MySQL server
from dotenv import load_dotenv
import os
load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
Create table If Not Exists Person (personId int, firstName varchar(255), lastName varchar(255));
Create table If Not Exists Address (addressId int, personId int, city varchar(255), state varchar(255));
Truncate table Person;
insert into Person (personId, firstName, lastName) values ('1', 'Wang', 'Allen');
insert into Person (personId, firstName, lastName) values ('2', 'Alice', 'Bob');
Truncate table Address;
insert into Address (addressId, personId, city, state) values ('1', '2', 'New York City', 'New York');
insert into Address (addressId, personId, city, state) values ('1', '2', 'Leetcode', 'California');

In [ ]:
%%sql
SHOW TABLES;

In [ ]:
%sql DESCRIBE Address;