# LeetCode Problem 180: Consecutive Numbers

## Problem

Table: Logs
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| num         | varchar |
+-------------+---------+
```
In SQL, `id` is the primary key for this table.
`id` is an autoincrement column starting from 1.

 

Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

 

#### Example 1:

Input: 
Logs table:
```
+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |
+----+-----+
```
Output:
``` 
+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+
```
Explanation: 1 is the only number that appears consecutively for at least three times.



*Link to problem: [https://leetcode.com/problems/consecutive-numbers/](https://leetcode.com/problems/consecutive-numbers/)*

# SQL Solution

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%sql SHOW TABLES;

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Logs (id int, num int);
TRUNCATE TABLE Logs;
INSERT INTO Logs (id, num) VALUES (1,1);
INSERT INTO Logs (id, num) VALUES (2,1);
INSERT INTO Logs (id, num) VALUES (3,1);
INSERT INTO Logs (id, num) VALUES (4,2);
INSERT INTO Logs (id, num) VALUES (5,1);
INSERT INTO Logs (id, num) VALUES (6,2);
INSERT INTO Logs (id, num) VALUES (7,2);
SELECT * FROM Logs;

In [ ]:
%%sql
SELECT DISTINCT num AS ConsecutiveNums
FROM Logs
WHERE (id + 1, num) IN (select * FROM Logs) AND (id + 2, num) IN (select * FROM Logs);

### Explanation:

- we want to select the distinct values in the Num column renamed to 'ConsecutiveNums', from the 'Logs' table where for any given row, the value in the Num column appears in the subsequent two rows.
- so first we get the 'Logs' table of which we keep only those rows part of a sequence of consecutive 3 rows containing the same value in the Num column
- then the select clause filters the Num column to keep only the distinct values

In [ ]:
%sql DROP TABLE IF EXISTS Logs;

# Pandas Solution:

In [ ]:
import pandas as pd

Logs = pd.DataFrame({'id': [1,2,3,4,5,6,7],
                     'num': [1,1,1,2,1,2,2]}).astype({'id':'Int64', 'num':'Int64'})

Logs

In [ ]:
def consecutive_numbers(logs: pd.DataFrame) -> pd.DataFrame:
    table = logs.copy(deep=True)
    table['var'] = table.num.rolling(window=3).var()
    return pd.DataFrame(data = {'ConsecutiveNums': table.query('var == 0').num.unique()})

consecutive_numbers(Logs)

### Explanation:

- we use the `rolling` function to slide a size `3` window across the `num` column, calculating the variance of all contained values at each window position
- we use a new column called `var`, where each value represents the variance of the current and previous two values in the `num` column
- if a row has `0` in the 'var' column, this means the current `num` value has appeared three consequtive times
- we can now query the df for all rows where `var == 0`, select only the `num` column and extract the unique values
- the resulting values can be used to create a new single column df with column name `ConsecutiveNums`