# LeetCode Problem 183: Customers Who Never Order


## Problem

Table: Customers
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+

id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
```
 

Table: Orders
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+

id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
```

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.


#### Example 1:

Input: 
Customers table:
```
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
```
Orders table:
```
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
```
Output: 
```
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+
```


*Link to problem: [https://leetcode.com/problems/customers-who-never-order/description/](https://leetcode.com/problems/customers-who-never-order/description/)*

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')
db_name = os.getenv('DB_NAME')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

# SQL Solution

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Customers (id int, name varchar(255));
TRUNCATE TABLE Customers;
INSERT INTO Customers (id, name) VALUES ('1', 'Joe');
INSERT INTO Customers (id, name) VALUES ('2', 'Henry');
INSERT INTO Customers (id, name) VALUES ('3', 'Sam');
INSERT INTO Customers (id, name) VALUES ('4', 'Max');

CREATE TABLE IF NOT EXISTS Orders (id int, customerId int);
TRUNCATE TABLE Orders;
INSERT INTO Orders (id, customerId) VALUES ('1', '3');
INSERT INTO Orders (id, customerId) VALUES ('2', '1');

In [ ]:
%sql SHOW TABLES;

In [ ]:
%sql SELECT * FROM Orders;

In [ ]:
%sql SELECT * FROM Customers;

In [ ]:
%%sql
SELECT c.id, c.name
FROM Orders AS o
RIGHT JOIN Customers AS c ON o.customerId = c.id
WHERE o.id IS NULL;

In [ ]:
%sql DROP TABLE IF EXISTS Customers;
%sql DROP TABLE IF EXISTS Orders;

# Pandas Solution

In [ ]:
import pandas as pd

In [ ]:
customers = pd.DataFrame(data={'id':[1,2,3,4],
                               'name':['Joe', 'Henry', 'Sam', 'Max']}).astype({'id':'Int64', 'name':'object'})

orders = pd.DataFrame(data={'id':[1,2],
                            'customerId':[3,1]}).astype({'id':'Int64', 'customerId':'Int64'})

In [ ]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    c = customers.copy()
    o = orders.copy()

    return o.merge(right=c, how='right', left_on='customerId', right_on='id').query('id_x.isnull()').name.to_frame(name='Customers')

find_customers(customers=customers, orders=orders)