# LeetCode Problem 196: Delete Duplicate Emails

## Problem

Table: Person
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
```

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.
The result format is in the following example.
 

#### Example 1:

Input:
Person table:
```
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
```
Output:
``` 
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
```
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.


*Link to problem: [https://leetcode.com/problems/delete-duplicate-emails/](https://leetcode.com/problems/delete-duplicate-emails/)*

# SQL Solution

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')
db_name = os.getenv('DB_NAME')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%sql SHOW TABLES;

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Person (id int, email varchar(255));
TRUNCATE TABLE Person;
INSERT INTO Person (id, email) values (1, 'john@example.com');
INSERT INTO Person (id, email) values (2, 'bob@example.com');
INSERT INTO Person (id, email) values (3, 'john@example.com');
SELECT * FROM Person;

We can perform a self-join to create a set of rows where the `id` values are larger than the minimum for a given email and delete said rows from the table.

In [ ]:
%%sql
# visualizing the self-join
SELECT * FROM Person p1
JOIN Person p2
ON p1.email = p2.email AND p1.id > p2.id;

We can see the left side of the table contains all rows where for a given `email`, the `id` values are larger than those on the right. This means for a given `email` the minimum `id` will always be found on the right thus we delete all rows specified by the left side of the table (`p1`).

In [ ]:
%%sql
DELETE p1
FROM Person p1
JOIN Person p2
ON p1.email = p2.email AND p1.id > p2.id;

In [ ]:
%%sql
SELECT * FROM Person;

In [ ]:
%%sql
DROP TABLE IF EXISTS Person;

# Pandas Solution

In [ ]:
import pandas as pd

In [ ]:
data = {'id':[1,2,3], 'email': ['john@example.com', 'bob@example.com', 'john@example.com']}
person = pd.DataFrame(data).astype({'id':'Int64', 'email':'object'})

In [ ]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    # sorting the dataframe to ensure 'first' kept duplicate will have the minimum id for its email
    person.sort_values(by='id', ascending=True, inplace=True)
    # dropping all duplicate email rows and keeping only the first instance (which will now have the min id)
    person.drop_duplicates(subset='email', keep='first', inplace=True)

# this doesn't work because the 'person' variable/parameter is local to the function
# initially it refers to the original dataframe object which reflects local modifications
# reassigning the variable locally loses the original reference and creates a new function-local dataframe which is lost upon function return
# def delete_duplicate_emails(person: pd.DataFrame) -> None:
#     person = person.groupby(['email']).min().reset_index()[['id','email']]

In [ ]:
delete_duplicate_emails(person)
person