# LeetCode Problem 184: Department Highest Salary

## Problem

Table: Employee
```
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+

id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
```

Table: Department
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+

id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
``` 

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

The result format is in the following example.
 

#### Example 1:

Input:
Employee table:
```
+----+-------+--------+--------------+
| id | name  | salary | departmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
```
Department table:
```
+----+-------+
| id | name  |
+----+-------+
| 1  | IT    |
| 2  | Sales |
+----+-------+
```
Output:
``` 
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |
+------------+----------+--------+
```
Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.



*Link to problem: [https://leetcode.com/problems/department-highest-salary/description/](https://leetcode.com/problems/department-highest-salary/description/)*

# SQL Solution

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')
db_name = os.getenv('DB_NAME')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%sql SHOW TABLES;

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS Employee (id INT, name VARCHAR(255), salary INT, departmentId INT);
CREATE TABLE IF NOT EXISTS Department (id INT, name VARCHAR(255));
TRUNCATE TABLE Employee;
INSERT INTO Employee (id, name, salary, departmentId) VALUES ('1', 'Joe', '70000', '1');
INSERT INTO Employee (id, name, salary, departmentId) VALUES ('2', 'Jim', '90000', '1');
INSERT INTO Employee (id, name, salary, departmentId) VALUES ('3', 'Henry', '80000', '2');
INSERT INTO Employee (id, name, salary, departmentId) VALUES ('4', 'Sam', '60000', '2');
INSERT INTO Employee (id, name, salary, departmentId) VALUES ('5', 'Max', '90000', '1');
TRUNCATE TABLE Department;
INSERT INTO Department (id, name) VALUES ('1', 'IT');
INSERT INTO Department (id, name) VALUES ('2', 'Sales');

In [ ]:
%sql SHOW TABLES;

In [ ]:
%sql SELECT * FROM Employee;

In [ ]:
%sql SELECT * FROM Department;

In [ ]:
%%sql
SELECT e.salary, e.departmentId, d.name
FROM
    (
        SELECT MAX(salary) AS salary, departmentId
        FROM Employee
        GROUP BY departmentId
    ) AS e
INNER JOIN Department AS d
ON e.departmentId = d.id;

In [ ]:
%%sql

WITH max_salaries AS
    (
        SELECT MAX(salary) AS salary, departmentId
        FROM Employee
        GROUP BY departmentId
    )
SELECT d.name AS Department, e.name AS Employee, e.salary AS Salary
FROM max_salaries ms
JOIN Department d ON d.id = ms.departmentId
JOIN Employee e ON e.salary = ms.salary AND e.departmentId = ms.departmentId;

In [ ]:
%sql DROP TABLE IF EXISTS Employee;
%sql DROP TABLE IF EXISTS Department;

# Pandas Solution

In [ ]:
import pandas as pd

In [ ]:
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

display(employee)
display(department)

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:

    e = employee.merge(right=department, how='inner', left_on='departmentId', right_on='id').loc[:,['name_x', 'salary', 'departmentId', 'name_y']]
    e = e.rename(columns={'name_x':'Employee', 'name_y':'Department'})

    max_dept_salaries = e.loc[:,['salary','departmentId']].groupby('departmentId').aggregate({'salary':'max'}).reset_index()
    
    return e.merge(right=max_dept_salaries, how='inner', on=['salary', 'departmentId']).rename(columns={'salary':'Salary'}).loc[:, ['Department', 'Employee', 'Salary']]

In [ ]:
department_highest_salary(employee=employee, department=department)