# LeetCode Problem 177: Nth Highest Salary

## Problem

#### Table: Employee
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

 

Write a solution to find the nth highest distinct salary from the Employee table. If there are less than n distinct salaries, return null.

The result format is in the following example.

 

#### Example 1:

Input: 

Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
n = 2

Output: 
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
```
#### Example 2:

Input:

Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
n = 2

Output: 
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+
```

*Link to problem: [https://leetcode.com/problems/nth-highest-salary/description/](https://leetcode.com/problems/nth-highest-salary/description/)*

# SQL Solution:

In [ ]:
#%pip ipython-sql sqlalchemy prettytable dotenv pymysql pandas

In [ ]:
%load_ext sql

In [ ]:
from dotenv import load_dotenv
import os
load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Employee (id int, salary int);
TRUNCATE TABLE Employee;
INSERT INTO Employee (id, salary) VALUES (1, 100);
INSERT INTO Employee (id, salary) VALUES (2, 200);
INSERT INTO Employee (id, salary) VALUES (3, 300);
# SELECT * FROM Employee;

In [ ]:
%%sql
DROP FUNCTION IF EXISTS getNthHighestSalary;

CREATE FUNCTION getNthHighestSalary(N int) RETURNS INT
BEGIN
    DECLARE M INT;
    SET M = N - 1;
    RETURN(
        SELECT DISTINCT salary
        FROM Employee
        ORDER BY salary DESC
        LIMIT M, 1
    );
END

In [ ]:
N = 2

%sql SELECT getNthHighestSalary({N}) AS 'getNthHighestSalary({N})';

# Pandas Solution:

In [ ]:
import pandas as pd

data = [[1, 100],
        [2, 200],
        [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'Int64', 'salary':'Int64'})

In [ ]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:

    employee = employee.drop_duplicates()
    employee.sort_values(by='salary', inplace=True)

    nth_highest = employee.iloc[N-1, 1] if len(employee['salary']) >= N else None

    return pd.DataFrame({f'getNthHighestSalary({N})': [nth_highest]})

nth_highest_salary(employee, 2)