# LeetCode Problem 178: Rank Scores

## Problem


Table: Scores
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| score       | decimal |
+-------------+---------+
```
`id` is the primary key (column with unique values) for this table.
Each row of this table contains the score of a game. Score is a floating point value with two decimal places.

 
Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

- The scores should be ranked from the highest to the lowest.
- If there is a tie between two scores, both should have the same ranking.
- After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by score in descending order.

The result format is in the following example.

 

#### Example 1:

Input: 
Scores table:
```
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
```
Output: 
```
+-------+------+
| score | rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+
```

*Link to problem: [https://leetcode.com/problems/rank-scores/description/](https://leetcode.com/problems/rank-scores/description/)*

In [ ]:
%load_ext sql

In [ ]:
from dotenv import load_dotenv
import os

In [ ]:
load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Scores (id int, score DECIMAL(3,2));
TRUNCATE TABLE Scores;
INSERT INTO Scores (id, score) VALUES (1, 3.5);
INSERT INTO Scores (id, score) VALUES (2, 3.65);
INSERT INTO Scores (id, score) VALUES (3, 4.0);
INSERT INTO Scores (id, score) VALUES (4, 3.85);
INSERT INTO Scores (id, score) VALUES (5, 4.0);
INSERT INTO Scores (id, score) VALUES (6, 3.65);

In [ ]:
# NEED TO BETTER UNDERSTAND HOW THIS WORKS
%%sql
SELECT s.score, r.rank
FROM Scores as s
JOIN (
    SELECT DISTINCT score,
        DENSE_RANK() OVER (ORDER BY score DESC) as rank
    FROM Scores
) as r ON s.score = r.score
ORDER BY s.score DESC;

In [ ]:
%sql DROP TABLE IF EXISTS Scores;

# Pandas Solution:

## --- TO DO ---