# LeetCode Problem 197: Rising Temperature

## Problem

Table: Weather
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+

id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.
```

Write a solution to find all dates' `id` with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.


#### Example 1:

Input: 
Weather table:
```
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
```
Output: 
```
+----+
| id |
+----+
| 2  |
| 4  |
+----+
```
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).



*Link to problem: [https://leetcode.com/problems/rising-temperature/](https://leetcode.com/problems/rising-temperature/)*

# SQL Solution

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()
db_user = os.getenv('DB_USER')
db_pass = os.getenv('DB_PASS')
db_name = os.getenv('DB_NAME')

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%sql SHOW TABLES;

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Weather (id int, recordDate date, temperature int);
TRUNCATE TABLE Weather;
INSERT INTO Weather (id, recordDate, temperature) VALUES (1, '2015-01-01', 10);
INSERT INTO Weather (id, recordDate, temperature) VALUES (2, '2015-01-02', 25);
INSERT INTO Weather (id, recordDate, temperature) VALUES (3, '2015-01-03', 20);
INSERT INTO Weather (id, recordDate, temperature) VALUES (4, '2015-01-04', 30);
SELECT * FROM Weather;

In [ ]:
%%sql
SELECT *
FROM Weather AS w1
JOIN Weather AS w2
ON w2.recordDate = DATE_ADD(w1.recordDate, INTERVAL 1 DAY);

In [ ]:
%%sql
SELECT w2.id AS id
FROM Weather AS w1
JOIN Weather AS w2
ON w2.recordDate = DATE_ADD(w1.recordDate, INTERVAL 1 DAY)
WHERE w2.temperature > w1.temperature;

In [ ]:
%%sql
DROP TABLE IF EXISTS Weather;
SHOW TABLES;

# Pandas Solution

In [ ]:
import pandas as pd

In [ ]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [ ]:
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    
    weather.sort_values(by='recordDate', ascending=True, inplace=True)

    weather['temp_increase'] = (weather['temperature'].shift(1) < weather['temperature']) & (weather['recordDate'].diff().dt.days == 1)

    return weather[weather['temp_increase']]['id'].to_frame()

In [ ]:
rising_temperature(weather=weather)