# LeetCode Problem 176: Second Highest Salary

## Problem

#### Table: Employee
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
`id` is the `primary key` (column with unique values) for this table.
Each row of this table contains information about the `salary` of an employee.

 

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

#### Example 1:

Input: 
Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
Output:
``` 
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
```

#### Example 2:

Input: 
Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
Output: 
```
+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+
```

*Link to problem: [https://leetcode.com/problems/second-highest-salary/](https://leetcode.com/problems/second-highest-salary/)*

# SQL Solution:

In [ ]:
# installing required python packages
# %pip install ipython-sql pandas pymysql sqlalchemy prettytable

# laoding sql magic for interfacing/interacting with sqlalchemy
%load_ext sql

# Connecting to a temporary sqlite database in local memory
# %sql sqlite://

# Connecting to an existing mysql db using .env credentials
from dotenv import load_dotenv
import os
load_dotenv()
db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASS")
db_name = os.getenv("DB_NAME")
%sql mysql+pymysql://{db_user}:{db_pass}@localhost/{db_name}

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Employee (id int, salary int);
TRUNCATE TABLE Employee;
INSERT INTO Employee (id, salary) VALUES ('1', '100');
INSERT INTO Employee (id, salary) VALUES ('2', '200');
INSERT INTO Employee (id, salary) VALUES ('3', '300');

In [ ]:
%%sql
SELECT
    (SELECT DISTINCT salary
     FROM Employee
     ORDER BY salary DESC
     LIMIT 1 OFFSET 1) AS SecondHighestSalary;

In [ ]:
%sql DROP TABLE Employee;

# Pandas Solution:

In [ ]:
import pandas as pd

data = [[1, 100]]
# data = [[1, 100],
#         [2, 200],
#         [3, 300]]

employees = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})
employees

In [ ]:
def second_highest_salary(employees: pd.DataFrame) -> pd.DataFrame:
    # drop duplicates
    unique_salaries = employees['salary'].drop_duplicates()

    # sorting in descending order and returning None or second largest value
    second_highest = unique_salaries.nlargest(2).iloc[-1] if len(unique_salaries) >=2 else None

    # creating and returning the dataframe
    return pd.DataFrame({"second highest salary":[second_highest]})

second_highest_salary(employees)